watch_file flake.nix
watch_file pre-commit-hooks.nix
watch_file treefmt.nix

export AWS_ACCESS_KEY_ID=$(sops --decrypt --extract '["secrets"]["AWS_ACCESS_KEY_ID"]' secrets.sops.yaml)
export AWS_SECRET_ACCESS_KEY=$(sops --decrypt --extract '["secrets"]["AWS_SECRET_ACCESS_KEY"]' secrets.sops.yaml)
